<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="topbar">
        <h2>Bunty Aur Babli 2</h2>
        <p>Cineplex</p>
    </div>
    <br><br><br>
    <div class="order-summarywrap">
        <div class="order-summary">
            <span class="circle_left"></span>
            <span class="circle_right"></span>
            <h1>Booking Summary</h1>
            <ul class="details">
                <li>
                    <div>
                        <span>
                            GL - P19, P20 <span> ( 2 Tickets )</span>
                        </span>
                        <p>SCREEN 3</p>
                    </div>
                    <div class="price">
                        Rs. 300.00
                    </div>
                </li>
                <li>
                    <div>
                        <span>
                           Convenience 
                        </span>
                    </div>
                    <div class="price">
                        Rs.23.60
                    </div>
                </li>
                <!-- <li>
                    <div> Convenience fees

                        Rs.23.60</div>
                </li> -->
                <li class="total">
                    <div style="font-size:14px;">Sub Total</div>
                    <div class="sub_total">Rs. 323.60</div>
                </li>
            </ul>
        </div>
        <div class="amt_payable">
           <span>Amount Payable</span>
           
            <span>Rs. 323.60</span>
     
    </div>
</div>
<div class="disclaimer">
    By proceeding, I express my consent to complete this transaction.
</div>
<br>
<div class="pay_btn">
    <form action="/successful" method="get">
    <button type="submit"><span>TOTAL: Rs. 223.60</span> <span>Procced</span></button>
</form>
</div>
</body>

</html>