<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="topbar">
        <h2>Bunty Aur Babli 2</h2>
        <p>Cineplex</p>
    </div>
    <br><br><br>
    <div class="order-summarywrap">
        <div class="order-summary">
            <span class="circle_left"></span>
            <span class="circle_right"></span>
            <h1>Booking Summary</h1>
            <ul class="details">
                <li>
                    <div>
                        <span>
                            GL - B11, E12 <span> ( 2 Tickets )</span>
                        </span>
                        <span>SCREEN 3</span>
                    </div>
                    <div></div>
                </li>
                <li></li>
            </ul>
        </div>
    </div>
</body>

</html>