<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Seats</title>
           <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- Bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
</script>
<!-- custom stylesheet -->
<link rel="stylesheet" href="css/styles.css">
<!-- Fontawesome cdn -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <br>
    <br>
    <div class="seats">
    <table cellspacing="0" cellpadding="0" class="setmain">
        <tr>
            <td>
                <div class="seatR">Q</div>
            </td>
            <td>
                <div class="sRow1">
                    <div class="seat1">
                        &nbsp;
                    </div>
                    <div class="seat1">                        
                        <a id="Q20" href="#" class="_available"> 20 </a>                   
                     </div>
                     <div class="seat1">                        
                         <a  id="Q19" href="#" class="_available"> 19 </a>                    
                    </div>
                    <div id="Q18" class="seat1">                        
                        <a href="#" class="_available"> 18 </a>                    
                   </div>
                   <div id="Q17" class="seat1">                        
                    <a href="#" class="_available"> 17 </a>                    
                   </div>
                   <div id="Q16" class="seat1">                        
                    <a href="#" class="_available"> 16 </a>                    
                  </div>
                  <div id="Q15" class="seat1">                        
                    <a href="#" class="_available"> 15 </a>                    
                  </div>
                  <div id="Q14" class="seat1">                        
                    <a href="#" class="_available"> 14 </a>                    
                  </div>
                  <div id="Q13" class="seat1">                        
                    <a href="#" class="_available"> 13 </a>                    
                  </div>
                  <div id="Q12" class="seat1">                        
                    <a href="#" class="_available"> 12 </a>                    
                  </div>
                  <div id="Q11" class="seat1">                        
                    <a href="#" class="_available"> 11 </a>                    
                  </div>
                  <div class="seat1">
                    &nbsp;
                </div>
                <div class="seat1">
                    &nbsp;
                </div>
                <div class="seat1">
                    &nbsp;
                </div>
                <div id="Q10" class="seat1">                        
                    <a href="#" class="_available"> 10 </a>                   
                 </div>
                 <div id="Q09" class="seat1">                        
                    <a href="#" class="_available"> 09 </a>                   
                 </div>
                 <div id="Q08" class="seat1">                        
                    <a href="#" class="_available"> 08 </a>                   
                 </div>
                 <div id="Q07" class="seat1">                        
                    <a href="#" class="_available"> 07 </a>                   
                 </div>
                 <div id="Q06" class="seat1">                        
                    <a href="#" class="_available"> 06 </a>                   
                 </div>
                 <div id="Q05" class="seat1">                        
                    <a href="#" class="_available"> 05 </a>                   
                 </div>
                 <div id="Q04" class="seat1">                        
                    <a href="#" class="_available"> 04 </a>                   
                 </div>
                 <div id="Q03" class="seat1">                        
                    <a href="#" class="_available"> 03 </a>                   
                 </div>
                 <div id="Q02" class="seat1">                        
                    <a href="#" class="_available"> 02 </a>                   
                 </div>
                 <div id="Q01" class="seat1">                        
                    <a href="#" class="_available"> 01 </a>                   
                 </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="seatR">P</div>
            </td>
            <td>
                <div class="sRow1">
                    <div class="seat1">
                        &nbsp;
                    </div>
                    <div class="seat1">                        
                        &nbsp;               
                     </div>
                     <div class="seat1">                        
                         &nbsp;                   
                    </div>
                    <div id="P18" class="seat1">                        
                        <a href="#" class="_available"> 18 </a>                    
                   </div>
                   <div id="P17" class="seat1">                        
                    <a href="#" class="_available"> 17 </a>                    
                   </div>
                   <div id="P16" class="seat1">                        
                    <a href="#" class="_available"> 16 </a>                    
                  </div>
                  <div id="P15" class="seat1">                        
                    <a href="#" class="_available"> 15 </a>                    
                  </div>
                  <div id="P14" class="seat1">                        
                    <a href="#" class="_available"> 14 </a>                    
                  </div>
                  <div id="P13" class="seat1">                        
                    <a href="#" class="_available"> 13 </a>                    
                  </div>
                  <div id="P12" class="seat1">                        
                    <a href="#" class="_available"> 12 </a>                    
                  </div>
                  <div id="P11" class="seat1">                        
                    <a href="#" class="_available"> 11 </a>                    
                  </div>
                  <div id="P10" class="seat1">                        
                    <a href="#" class="_available"> 10 </a>                   
                 </div>
                  <div class="seat1">
                    &nbsp;
                </div>
                 <div id="P09" class="seat1">                        
                    <a href="#" class="_available"> 09 </a>                   
                 </div>
                 <div id="P08" class="seat1">                        
                    <a href="#" class="_available"> 08 </a>                   
                 </div>
                 <div id="P07" class="seat1">                        
                    <a href="#" class="_available"> 07 </a>                   
                 </div>
                 <div id="P06" class="seat1">                        
                    <a href="#" class="_available"> 06 </a>                   
                 </div>
                 <div id="P05" class="seat1">                        
                    <a href="#" class="_available"> 05 </a>                   
                 </div>
                 <div id="P04" class="seat1">                        
                    <a href="#" class="_available"> 04 </a>                   
                 </div>
                 <div id="P03" class="seat1">                        
                    <a href="#" class="_available"> 03 </a>                   
                 </div>
                 <div id="P02" class="seat1">                        
                    <a href="#" class="_available"> 02 </a>                   
                 </div>
                 <div id="P01" class="seat1">                        
                    <a href="#" class="_available"> 01 </a>                   
                 </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="seatR">N</div>
            </td>
            <td>
                <div class="sRow1">
                    <div class="seat1">
                        &nbsp;
                    </div>
                    <div class="seat1">                        
                        &nbsp;               
                     </div>
                     <div class="seat1">                        
                         &nbsp;                   
                    </div>
                    <div id="N18" class="seat1">                        
                        <a href="#" class="_available"> 18 </a>                    
                   </div>
                   <div id="N17" class="seat1">                        
                    <a href="#" class="_available"> 17 </a>                    
                   </div>
                   <div id="N16" class="seat1">                        
                    <a href="#" class="_available"> 16 </a>                    
                  </div>
                  <div id="N15" class="seat1">                        
                    <a href="#" class="_available"> 15 </a>                    
                  </div>
                  <div id="N14" class="seat1">                        
                    <a href="#" class="_available"> 14 </a>                    
                  </div>
                  <div id="N13" class="seat1">                        
                    <a href="#" class="_available"> 13 </a>                    
                  </div>
                  <div id="N12" class="seat1">                        
                    <a href="#" class="_available"> 12 </a>                    
                  </div>
                  <div id="N11" class="seat1">                        
                    <a href="#" class="_available"> 11 </a>                    
                  </div>
                  <div id="N10" class="seat1">                        
                    <a href="#" class="_available"> 10 </a>                   
                 </div>
                  <div class="seat1">
                    &nbsp;
                </div>
                 <div id="N09" class="seat1">                        
                    <a href="#" class="_available"> 09 </a>                   
                 </div>
                 <div id="N08" class="seat1">                        
                    <a href="#" class="_available"> 08 </a>                   
                 </div>
                 <div id="N07" class="seat1">                        
                    <a href="#" class="_available"> 07 </a>                   
                 </div>
                 <div id="N06" class="seat1">                        
                    <a href="#" class="_available"> 06 </a>                   
                 </div>
                 <div id="N05" class="seat1">                        
                    <a href="#" class="_available"> 05 </a>                   
                 </div>
                 <div id="N04" class="seat1">                        
                    <a href="#" class="_available"> 04 </a>                   
                 </div>
                 <div id="N03" class="seat1">                        
                    <a href="#" class="_available"> 03 </a>                   
                 </div>
                 <div id="N02" class="seat1">                        
                    <a href="#" class="_available"> 02 </a>                   
                 </div>
                 <div id="N01" class="seat1">                        
                    <a href="#" class="_available"> 01 </a>                   
                 </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="seatR">M</div>
            </td>
            <td>
                <div class="sRow1">
                    <div class="seat1">
                        &nbsp;
                    </div>
                    <div class="seat1">                        
                        &nbsp;               
                     </div>
                     <div class="seat1">                        
                         &nbsp;                   
                    </div>
                    <div id="M18" class="seat1">                        
                        <a href="#" class="_available"> 18 </a>                    
                   </div>
                   <div id="M17" class="seat1">                        
                    <a href="#" class="_available"> 17 </a>                    
                   </div>
                   <div id="M16" class="seat1">                        
                    <a href="#" class="_available"> 16 </a>                    
                  </div>
                  <div id="M15" class="seat1">                        
                    <a href="#" class="_available"> 15 </a>                    
                  </div>
                  <div id="M14" class="seat1">                        
                    <a href="#" class="_available"> 14 </a>                    
                  </div>
                  <div id="M13" class="seat1">                        
                    <a href="#" class="_available"> 13 </a>                    
                  </div>
                  <div id="M12" class="seat1">                        
                    <a href="#" class="_available"> 12 </a>                    
                  </div>
                  <div id="M11" class="seat1">                        
                    <a href="#" class="_available"> 11 </a>                    
                  </div>
                  <div id="M10" class="seat1">                        
                    <a href="#" class="_available"> 10 </a>                   
                 </div>
                  <div class="seat1">
                    &nbsp;
                </div>
                 <div id="M09" class="seat1">                        
                    <a href="#" class="_available"> 09 </a>                   
                 </div>
                 <div id="M08" class="seat1">                        
                    <a href="#" class="_available"> 08 </a>                   
                 </div>
                 <div id="M07" class="seat1">                        
                    <a href="#" class="_available"> 07 </a>                   
                 </div>
                 <div id="M06" class="seat1">                        
                    <a href="#" class="_available"> 06 </a>                   
                 </div>
                 <div id="M05" class="seat1">                        
                    <a href="#" class="_available"> 05 </a>                   
                 </div>
                 <div id="M04" class="seat1">                        
                    <a href="#" class="_available"> 04 </a>                   
                 </div>
                 <div id="M03" class="seat1">                        
                    <a href="#" class="_available"> 03 </a>                   
                 </div>
                 <div id="M02" class="seat1">                        
                    <a href="#" class="_available"> 02 </a>                   
                 </div>
                 <div id="M01" class="seat1">                        
                    <a href="#" class="_available"> 01 </a>                   
                 </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="seatR">L</div>
            </td>
            <td>
                <div class="sRow1">
                    <div class="seat1">
                        &nbsp;
                    </div>
                    <div class="seat1">                        
                        &nbsp;               
                     </div>
                     <div class="seat1">                        
                         &nbsp;                   
                    </div>
                    <div id="L18" class="seat1">                        
                        <a href="#" class="_available"> 18 </a>                    
                   </div>
                   <div id="L17" class="seat1">                        
                    <a href="#" class="_available"> 17 </a>                    
                   </div>
                   <div id="L16" class="seat1">                        
                    <a href="#" class="_available"> 16 </a>                    
                  </div>
                  <div id="L15" class="seat1">                        
                    <a href="#" class="_available"> 15 </a>                    
                  </div>
                  <div id="L14" class="seat1">                        
                    <a href="#" class="_available"> 14 </a>                    
                  </div>
                  <div id="L13" class="seat1">                        
                    <a href="#" class="_available"> 13 </a>                    
                  </div>
                  <div id="L12" class="seat1">                        
                    <a href="#" class="_available"> 12 </a>                    
                  </div>
                  <div id="L11" class="seat1">                        
                    <a href="#" class="_available"> 11 </a>                    
                  </div>
                  <div id="L10" class="seat1">                        
                    <a href="#" class="_available"> 10 </a>                   
                 </div>
                  <div class="seat1">
                    &nbsp;
                </div>
                 <div id="L09" class="seat1">                        
                    <a href="#" class="_available"> 09 </a>                   
                 </div>
                 <div id=LP08" class="seat1">                        
                    <a href="#" class="_available"> 08 </a>                   
                 </div>
                 <div id="L07" class="seat1">                        
                    <a href="#" class="_available"> 07 </a>                   
                 </div>
                 <div id="L06" class="seat1">                        
                    <a href="#" class="_available"> 06 </a>                   
                 </div>
                 <div id="L05" class="seat1">                        
                    <a href="#" class="_available"> 05 </a>                   
                 </div>
                 <div id="L04" class="seat1">                        
                    <a href="#" class="_available"> 04 </a>                   
                 </div>
                 <div id="L03" class="seat1">                        
                    <a href="#" class="_available"> 03 </a>                   
                 </div>
                 <div id="L02" class="seat1">                        
                    <a href="#" class="_available"> 02 </a>                   
                 </div>
                 <div id="L01" class="seat1">                        
                    <a href="#" class="_available"> 01 </a>                   
                 </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="seatR">K</div>
            </td>
            <td>
                <div class="sRow1">
                    <div class="seat1">
                        &nbsp;
                    </div>
                    <div class="seat1">                        
                        &nbsp;               
                     </div>
                     <div class="seat1">                        
                         &nbsp;                   
                    </div>
                   <div id="K15" class="seat1">                        
                    <a href="#" class="_available"> 15 </a>                    
                   </div>
                   <div id="K14" class="seat1">                        
                    <a href="#" class="_available"> 14 </a>                    
                  </div>
                  <div id="K13" class="seat1">                        
                    <a href="#" class="_available"> 13 </a>                    
                  </div>
                  <div id="K12" class="seat1">                        
                    <a href="#" class="_available"> 12 </a>                    
                  </div>
                  <div id="K11" class="seat1">                        
                    <a href="#" class="_available"> 11 </a>                    
                  </div>
                  <div id="K10" class="seat1">                        
                    <a href="#" class="_available"> 10 </a>                    
                  </div>
                  <div id="K09" class="seat1">                        
                    <a href="#" class="_available"> 09 </a>                    
                  </div>
                  <div id="K08" class="seat1">                        
                    <a href="#" class="_available"> 08 </a>                   
                 </div>
                 <div id="K07" class="seat1">                        
                    <a href="#" class="_available"> 07 </a>                   
                 </div>
                  <div class="seat1">
                    &nbsp;
                </div>
               
                 <div id="K06" class="seat1">                        
                    <a href="#" class="_available"> 06 </a>                   
                 </div>
                 <div id="K05" class="seat1">                        
                    <a href="#" class="_available"> 05 </a>                   
                 </div>
                 <div id="K04" class="seat1">                        
                    <a href="#" class="_available"> 04 </a>                   
                 </div>
                 <div id="K03" class="seat1">                        
                    <a href="#" class="_available"> 03 </a>                   
                 </div>
                 <div id="K02" class="seat1">                        
                    <a href="#" class="_available"> 02 </a>                   
                 </div>
                 <div id="K01" class="seat1">                        
                    <a href="#" class="_available"> 01 </a>                   
                 </div>
                
                </div>
            </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>&nbsp;</td>
        </tr>

        
        <tr>
            <td>
                <div class="seatR">J</div>
            </td>
            <td>
                <div class="sRow1">
                    <div class="seat1">
                        &nbsp;
                    </div>
                    <div class="seat1">                        
                        &nbsp;               
                     </div>
                     <div class="seat1">                        
                         &nbsp;                   
                    </div>
                   <div id="J15" class="seat1">                        
                    <a href="#" class="_available"> 15 </a>                    
                   </div>
                   <div id="J14" class="seat1">                        
                    <a href="#" class="_available"> 14 </a>                    
                  </div>
                  <div id="J13" class="seat1">                        
                    <a href="#" class="_available"> 13 </a>                    
                  </div>
                  <div id="J12" class="seat1">                        
                    <a href="#" class="_available"> 12 </a>                    
                  </div>
                  <div id="J11" class="seat1">                        
                    <a href="#" class="_available"> 11 </a>                    
                  </div>
                  <div id="J10" class="seat1">                        
                    <a href="#" class="_available"> 10 </a>                    
                  </div>
                  <div id="J09" class="seat1">                        
                    <a href="#" class="_available"> 09 </a>                    
                  </div>
                  <div id="J08" class="seat1">                        
                    <a href="#" class="_available"> 08 </a>                   
                 </div>
                 <div id="J07" class="seat1">                        
                    <a href="#" class="_available"> 07 </a>                   
                 </div>
                  <div class="seat1">
                    &nbsp;
                </div>
                 <div id="J06" class="seat1">                        
                    <a href="#" class="_available"> 06 </a>                   
                 </div>
                 <div id="J05" class="seat1">                        
                    <a href="#" class="_available"> 05 </a>                   
                 </div>
                 <div id="J04" class="seat1">                        
                    <a href="#" class="_available"> 04 </a>                   
                 </div>
                 <div id="J03" class="seat1">                        
                    <a href="#" class="_available"> 03 </a>                   
                 </div>
                 <div id="J02" class="seat1">                        
                    <a href="#" class="_available"> 02 </a>                   
                 </div>
                 <div id="J01" class="seat1">                        
                    <a href="#" class="_available"> 01 </a>                   
                 </div>
                
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="seatR">H</div>
            </td>
            <td>
                <div class="sRow1">
                    <div class="seat1">
                        &nbsp;
                    </div>
                    <div class="seat1">                        
                        &nbsp;               
                     </div>
                     <div class="seat1">                        
                         &nbsp;                   
                    </div>
                   <div id="H15" class="seat1">                        
                    <a href="#" class="_available"> 15 </a>                    
                   </div>
                   <div id="H14" class="seat1">                        
                    <a href="#" class="_available"> 14 </a>                    
                  </div>
                  <div id="H13" class="seat1">                        
                    <a href="#" class="_available"> 13 </a>                    
                  </div>
                  <div id="H12" class="seat1">                        
                    <a href="#" class="_available"> 12 </a>                    
                  </div>
                  <div id="H11" class="seat1">                        
                    <a href="#" class="_available"> 11 </a>                    
                  </div>
                  <div id="H10" class="seat1">                        
                    <a href="#" class="_available"> 10 </a>                    
                  </div>
                  <div id="H09" class="seat1">                        
                    <a href="#" class="_available"> 09 </a>                    
                  </div>
                  <div id="H08" class="seat1">                        
                    <a href="#" class="_available"> 08 </a>                   
                 </div>
                 <div id="H07" class="seat1">                        
                    <a href="#" class="_available"> 07 </a>                   
                 </div>
                  <div class="seat1">
                    &nbsp;
                </div>
                 <div id="H06" class="seat1">                        
                    <a href="#" class="_available"> 06 </a>                   
                 </div>
                 <div id="H05" class="seat1">                        
                    <a href="#" class="_available"> 05 </a>                   
                 </div>
                 <div id="H04" class="seat1">                        
                    <a href="#" class="_available"> 04 </a>                   
                 </div>
                 <div id="H03" class="seat1">                        
                    <a href="#" class="_available"> 03 </a>                   
                 </div>
                 <div id="H02" class="seat1">                        
                    <a href="#" class="_available"> 02 </a>                   
                 </div>
                 <div id="H01" class="seat1">                        
                    <a href="#" class="_available"> 01 </a>                   
                 </div>
                
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="seatR">G</div>
            </td>
            <td>
                <div class="sRow1">
                    <div class="seat1">
                        &nbsp;
                    </div>
                    <div class="seat1">                        
                        &nbsp;               
                     </div>
                     <div class="seat1">                        
                         &nbsp;                   
                    </div>
                   <div id="G15" class="seat1">                        
                    <a href="#" class="_available"> 15 </a>                    
                   </div>
                   <div id="G14" class="seat1">                        
                    <a href="#" class="_available"> 14 </a>                    
                  </div>
                  <div id="G13" class="seat1">                        
                    <a href="#" class="_available"> 13 </a>                    
                  </div>
                  <div id="G12" class="seat1">                        
                    <a href="#" class="_available"> 12 </a>                    
                  </div>
                  <div id="G11" class="seat1">                        
                    <a href="#" class="_available"> 11 </a>                    
                  </div>
                  <div id="G10" class="seat1">                        
                    <a href="#" class="_available"> 10 </a>                    
                  </div>
                  <div id="G09" class="seat1">                        
                    <a href="#" class="_available"> 09 </a>                    
                  </div>
                  <div id="G08" class="seat1">                        
                    <a href="#" class="_available"> 08 </a>                   
                 </div>
                 <div id="G07" class="seat1">                        
                    <a href="#" class="_available"> 07 </a>                   
                 </div>
                  <div class="seat1">
                    &nbsp;
                </div>
                 <div id="G06" class="seat1">                        
                    <a href="#" class="_available"> 06 </a>                   
                 </div>
                 <div id="G05" class="seat1">                        
                    <a href="#" class="_available"> 05 </a>                   
                 </div>
                 <div id="G04" class="seat1">                        
                    <a href="#" class="_available"> 04 </a>                   
                 </div>
                 <div id="G03" class="seat1">                        
                    <a href="#" class="_available"> 03 </a>                   
                 </div>
                 <div id="G02" class="seat1">                        
                    <a href="#" class="_available"> 02 </a>                   
                 </div>
                 <div id="G01" class="seat1">                        
                    <a href="#" class="_available"> 01 </a>                   
                 </div>
                
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="seatR">F</div>
            </td>
            <td>
                <div class="sRow1">
                    <div class="seat1">
                        &nbsp;
                    </div>
                    <div class="seat1">                        
                        &nbsp;               
                     </div>
                     <div class="seat1">                        
                         &nbsp;                   
                    </div>
                   <div id="F15" class="seat1">                        
                    <a href="#" class="_available"> 15 </a>                    
                   </div>
                   <div id="F14" class="seat1">                        
                    <a href="#" class="_available"> 14 </a>                    
                  </div>
                  <div id="F13" class="seat1">                        
                    <a href="#" class="_available"> 13 </a>                    
                  </div>
                  <div id="F12" class="seat1">                        
                    <a href="#" class="_available"> 12 </a>                    
                  </div>
                  <div id="F11" class="seat1">                        
                    <a href="#" class="_available"> 11 </a>                    
                  </div>
                  <div id="F10" class="seat1">                        
                    <a href="#" class="_available"> 10 </a>                    
                  </div>
                  <div id="F09" class="seat1">                        
                    <a href="#" class="_available"> 09 </a>                    
                  </div>
                  <div id="F08" class="seat1">                        
                    <a href="#" class="_available"> 08 </a>                   
                 </div>
                 <div id="F07" class="seat1">                        
                    <a href="#" class="_available"> 07 </a>                   
                 </div>
                  <div class="seat1">
                    &nbsp;
                </div>
                 <div id="F06" class="seat1">                        
                    <a href="#" class="_available"> 06 </a>                   
                 </div>
                 <div id="F05" class="seat1">                        
                    <a href="#" class="_available"> 05 </a>                   
                 </div>
                 <div id="F04" class="seat1">                        
                    <a href="#" class="_available"> 04 </a>                   
                 </div>
                 <div id="F03" class="seat1">                        
                    <a href="#" class="_available"> 03 </a>                   
                 </div>
                 <div id="F02" class="seat1">                        
                    <a href="#" class="_available"> 02 </a>                   
                 </div>
                 <div id="F01" class="seat1">                        
                    <a href="#" class="_available"> 01 </a>                   
                 </div>
                
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="seatR">E</div>
            </td>
            <td>
                <div class="sRow1">
                    <div class="seat1">
                        &nbsp;
                    </div>
                    <div class="seat1">                        
                        &nbsp;               
                     </div>
                     <div class="seat1">                        
                         &nbsp;                   
                    </div>
                   <div id="E15" class="seat1">                        
                    <a href="#" class="_available"> 15 </a>                    
                   </div>
                   <div id="E14" class="seat1">                        
                    <a href="#" class="_available"> 14 </a>                    
                  </div>
                  <div id="E13" class="seat1">                        
                    <a href="#" class="_available"> 13 </a>                    
                  </div>
                  <div id="E12" class="seat1">                        
                    <a href="#" class="_available"> 12 </a>                    
                  </div>
                  <div id="E11" class="seat1">                        
                    <a href="#" class="_available"> 11 </a>                    
                  </div>
                  <div id="E10" class="seat1">                        
                    <a href="#" class="_available"> 10 </a>                    
                  </div>
                  <div id="E09" class="seat1">                        
                    <a href="#" class="_available"> 09 </a>                    
                  </div>
                  <div id="E08" class="seat1">                        
                    <a href="#" class="_available"> 08 </a>                   
                 </div>
                 <div id="E07" class="seat1">                        
                    <a href="#" class="_available"> 07 </a>                   
                 </div>
                  <div class="seat1">
                    &nbsp;
                </div>
                 <div id="E06" class="seat1">                        
                    <a href="#" class="_available"> 06 </a>                   
                 </div>
                 <div id="E05" class="seat1">                        
                    <a href="#" class="_available"> 05 </a>                   
                 </div>
                 <div id="E04" class="seat1">                        
                    <a href="#" class="_available"> 04 </a>                   
                 </div>
                 <div id="E03" class="seat1">                        
                    <a href="#" class="_available"> 03 </a>                   
                 </div>
                 <div id="E02" class="seat1">                        
                    <a href="#" class="_available"> 02 </a>                   
                 </div>
                 <div id="E01" class="seat1">                        
                    <a href="#" class="_available"> 01 </a>                   
                 </div>
                
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="seatR">D</div>
            </td>
            <td>
                <div class="sRow1">
                    <div class="seat1">
                        &nbsp;
                    </div>
                    <div class="seat1">                        
                        &nbsp;               
                     </div>
                     <div class="seat1">                        
                         &nbsp;                   
                    </div>
                   <div id="D15" class="seat1">                        
                    <a href="#" class="_available"> 15 </a>                    
                   </div>
                   <div id="D14" class="seat1">                        
                    <a href="#" class="_available"> 14 </a>                    
                  </div>
                  <div id="D13" class="seat1">                        
                    <a href="#" class="_available"> 13 </a>                    
                  </div>
                  <div id="D12" class="seat1">                        
                    <a href="#" class="_available"> 12 </a>                    
                  </div>
                  <div id="D11" class="seat1">                        
                    <a href="#" class="_available"> 11 </a>                    
                  </div>
                  <div id="D10" class="seat1">                        
                    <a href="#" class="_available"> 10 </a>                    
                  </div>
                  <div id="D09" class="seat1">                        
                    <a href="#" class="_available"> 09 </a>                    
                  </div>
                  <div id="D08" class="seat1">                        
                    <a href="#" class="_available"> 08 </a>                   
                 </div>
                 <div id="D07" class="seat1">                        
                    <a href="#" class="_available"> 07 </a>                   
                 </div>
                  <div class="seat1">
                    &nbsp;
                </div>
                 <div id="D06" class="seat1">                        
                    <a href="#" class="_available"> 06 </a>                   
                 </div>
                 <div id="D05" class="seat1">                        
                    <a href="#" class="_available"> 05 </a>                   
                 </div>
                 <div id="D04" class="seat1">                        
                    <a href="#" class="_available"> 04 </a>                   
                 </div>
                 <div id="D03" class="seat1">                        
                    <a href="#" class="_available"> 03 </a>                   
                 </div>
                 <div id="D02" class="seat1">                        
                    <a href="#" class="_available"> 02 </a>                   
                 </div>
                 <div id="D01" class="seat1">                        
                    <a href="#" class="_available"> 01 </a>                   
                 </div>
                
                </div>
            </td>
        </tr>

        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>&nbsp;</td>
        </tr>

        <tr>
            <td>
                <div class="seatR">C</div>
            </td>
            <td>
                <div class="sRow1">
                    <div class="seat1">
                        &nbsp;
                    </div>
                    <div class="seat1">                        
                        &nbsp;               
                     </div>
                     <div class="seat1">                        
                         &nbsp;                   
                    </div>
                    <div id="C18" class="seat1">                        
                        <a href="#" class="_available"> 18 </a>                    
                   </div>
                   <div id="C17" class="seat1">                        
                    <a href="#" class="_available"> 17 </a>                    
                   </div>
                   <div id="C16" class="seat1">                        
                    <a href="#" class="_available"> 16 </a>                    
                  </div>
                  <div id="C15" class="seat1">                        
                    <a href="#" class="_available"> 15 </a>                    
                  </div>
                  <div id="C14" class="seat1">                        
                    <a href="#" class="_available"> 14 </a>                    
                  </div>
                  <div id="C13" class="seat1">                        
                    <a href="#" class="_available"> 13 </a>                    
                  </div>
                  <div id="C12" class="seat1">                        
                    <a href="#" class="_available"> 12 </a>                    
                  </div>
                  <div id="C11" class="seat1">                        
                    <a href="#" class="_available"> 11 </a>                    
                  </div>
                  <div id="C10" class="seat1">                        
                    <a href="#" class="_available"> 10 </a>                   
                 </div>
                  <div class="seat1">
                    &nbsp;
                </div>
                 <div id="C09" class="seat1">                        
                    <a href="#" class="_available"> 09 </a>                   
                 </div>
                 <div id="C08" class="seat1">                        
                    <a href="#" class="_available"> 08 </a>                   
                 </div>
                 <div id="C07" class="seat1">                        
                    <a href="#" class="_available"> 07 </a>                   
                 </div>
                 <div id="C06" class="seat1">                        
                    <a href="#" class="_available"> 06 </a>                   
                 </div>
                 <div id="C05" class="seat1">                        
                    <a href="#" class="_available"> 05 </a>                   
                 </div>
                 <div id="C04" class="seat1">                        
                    <a href="#" class="_available"> 04 </a>                   
                 </div>
                 <div id="C03" class="seat1">                        
                    <a href="#" class="_available"> 03 </a>                   
                 </div>
                 <div id="C02" class="seat1">                        
                    <a href="#" class="_available"> 02 </a>                   
                 </div>
                 <div id="C01" class="seat1">                        
                    <a href="#" class="_available"> 01 </a>                   
                 </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="seatR">B</div>
            </td>
            <td>
                <div class="sRow1">
                    <div class="seat1">
                        &nbsp;
                    </div>
                    <div class="seat1">                        
                        &nbsp;               
                     </div>
                     <div class="seat1">                        
                         &nbsp;                   
                    </div>
                    <div id="B18" class="seat1">                        
                        <a href="#" class="_available"> 18 </a>                    
                   </div>
                   <div id="B17" class="seat1">                        
                    <a href="#" class="_available"> 17 </a>                    
                   </div>
                   <div id="B16" class="seat1">                        
                    <a href="#" class="_available"> 16 </a>                    
                  </div>
                  <div id="B15" class="seat1">                        
                    <a href="#" class="_available"> 15 </a>                    
                  </div>
                  <div id="B14" class="seat1">                        
                    <a href="#" class="_available"> 14 </a>                    
                  </div>
                  <div id="B13" class="seat1">                        
                    <a href="#" class="_available"> 13 </a>                    
                  </div>
                  <div id="B12" class="seat1">                        
                    <a href="#" class="_available"> 12 </a>                    
                  </div>
                  <div id="B11" class="seat1">                        
                    <a href="#" class="_available"> 11 </a>                    
                  </div>
                  <div id="B10" class="seat1">                        
                    <a href="#" class="_unavailable"> 10 </a>                   
                 </div>
                  <div class="seat1">
                    &nbsp;
                </div>
                 <div id="B09" class="seat1">                        
                    <a href="#" class="_available"> 09 </a>                   
                 </div>
                 <div id="B08" class="seat1">                        
                    <a href="#" class="_available"> 08 </a>                   
                 </div>
                 <div id="B07" class="seat1">                        
                    <a href="#" class="_available"> 07 </a>                   
                 </div>
                 <div id="B06" class="seat1">                        
                    <a href="#" class="_available"> 06 </a>                   
                 </div>
                 <div id="B05" class="seat1">                        
                    <a href="#" class="_available"> 05 </a>                   
                 </div>
                 <div id="B04" class="seat1">                        
                    <a href="#" class="_available"> 04 </a>                   
                 </div>
                 <div id="B03" class="seat1">                        
                    <a href="#" class="_available"> 03 </a>                   
                 </div>
                 <div id="B02" class="seat1">                        
                    <a href="#" class="_available"> 02 </a>                   
                 </div>
                 <div id="B01" class="seat1">                        
                    <a href="#" class="_available"> 01 </a>                   
                 </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="seatR">A</div>
            </td>
            <td>
                <div class="sRow1">
                    <div class="seat1">
                        &nbsp;
                    </div>
                    <div class="seat1">                        
                        &nbsp;               
                     </div>
                     <div class="seat1">                        
                         &nbsp;                   
                    </div>
                    <div id="A18" class="seat1">                        
                        <a href="#" class="_available"> 18 </a>                    
                   </div>
                   <div id="A17" class="seat1">                        
                    <a href="#" class="_available"> 17 </a>                    
                   </div>
                   <div id="A16" class="seat1">                        
                    <a href="#" class="_available"> 16 </a>                    
                  </div>
                  <div id="A15" class="seat1">                        
                    <a href="#" class="_available"> 15 </a>                    
                  </div>
                  <div id="A14" class="seat1">                        
                    <a href="#" class="_available"> 14 </a>                    
                  </div>
                  <div id="A13" class="seat1">                        
                    <a href="#" class="_available"> 13 </a>                    
                  </div>
                  <div id="A12" class="seat1">                        
                    <a href="#" class="_available"> 12 </a>                    
                  </div>
                  <div id="A11" class="seat1">                        
                    <a href="#" class="_available"> 11 </a>                    
                  </div>
                  <div id="A10" class="seat1">                        
                    <a href="#" class="_available"> 10 </a>                   
                 </div>
                  <div class="seat1">
                    &nbsp;
                </div>
                 <div id="A09" class="seat1">                        
                    <a href="#" class="_available"> 09 </a>                   
                 </div>
                 <div id="A08" class="seat1">                        
                    <a href="#" class="_available"> 08 </a>                   
                 </div>
                 <div id="A07" class="seat1">                        
                    <a href="#" class="_available"> 07 </a>                   
                 </div>
                 <div id="A06" class="seat1">                        
                    <a href="#" class="_available"> 06 </a>                   
                 </div>
                 <div id="A05" class="seat1">                        
                    <a href="#" class="_available"> 05 </a>                   
                 </div>
                 <div id="A04" class="seat1">                        
                    <a href="#" class="_available"> 04 </a>                   
                 </div>
                 <div id="A03" class="seat1">                        
                    <a href="#" class="_available"> 03 </a>                   
                 </div>
                 <div id="A02" class="seat1">                        
                    <a href="#" class="_available"> 02 </a>                   
                 </div>
                 <div id="A01" class="seat1">                        
                    <a href="#" class="_unavailable"> 01 </a>                   
                 </div>
                </div>
            </td>
        </tr>

    </table>
    <br>
    <br>
</div>
<center>
    <img class="screen" src="img/screen.JPG" alt="">
    <p>All eyes this way please!</p>
    <br>
    <br>
    <button class="pay">
        Pay Rs. 0
    </button>
    <br>
    <br>
</center>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/seats.js" charset="utf-8"></script>
</body>
</html>